* {
    box-sizing: border-box;
}
.App {
    width: 100%;
}
.header {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    font-size: 50px;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
}
.inputs {
    display: flex;
    align-items: center;
    gap: 40px;
}
.text {
    width: 400px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 7px;

}
.checkbox {
    transform: scale(2.3);
}
.button {
    padding: 7px 10px;
    background-color: #e9eef7;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 14px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.button:hover {
    transform: scale(1.05);
    background-color: cadetblue;
    border: 1px solid #fff;
}
ul {
    list-style: none;
    margin: 10px;
}
.main {
    width: 600px;
    margin: 50px auto;
    font-size: 30px;
}
.star-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo{
    background-color: cadetblue;
    margin: 5px 0;
    border-radius: 7px;
    padding: 5px 20px;

}
.selected {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 20px;
    margin: 5px 0;
    background: #e9eef7;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    color: #e9eef7;
}
.selected  input {
    background-color: cadetblue;
}
.selected .dlt, .todo .dlt {
    background-color: rgba(0,0,0,0.0);
    border: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.dlt:hover {
    transform: scale(2);
}